
<div class="col edit">
<form (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <div class="col">
      <label for="Nome">Nome:</label>
      <input type="text" class="form-control " [(ngModel)]="contato.nome" name="Nome" id="" placeholder="Insira seu Nome" />
    </div>
    <div class="col">
      <label for="tel">Telefone:</label>
      <input type="number" class="form-control" [(ngModel)]="contato.telefone" name="tel" placeholder="Insira seu telefone" />
    </div>
  </div>
  <button type="submit" class="aparece btn btn-primary ">
    <i class="material-icons">person_add</i>
    <div class="apaga">
      <p>Salvar</p>
    </div>
  </button>
</form>
</div>
